body {
  font-family: 'IBM Plex Mono', monospace;
}
h1 {
  font-family: 'Rubik 80s Fade', sans-serif;
}
h2 {
  font-family: 'Orbitron', sans-serif;
}
h3 {
  font-family: 'Oxanium', cursive;
}
p {
  font-family: 'IBM Plex Mono', monospace;
}
